{% extends 'base.html' %}
{% block content %}
{{ tipo }}

{% for item in vaga %}
<div class="ticket" id="ticket">
<ul style="padding-top: 10px;">
  <li>Vaga ID: {{ item.IDVAGA }}</li>
  <li>Vaga Distancia: {{ item.DISTANCIA }}</li>
  <li>Vaga Tipo: {{ item.TIPO }}</li>
  <li>Vaga Situação: {{ item.SITUACAO }}</li>
</ul>
</div>        
{% endfor %}

{% endblock %}