
{% extends 'base.html' %}

{% block content %}
<form action="/ticket" method="POST" form id="poll_form" accept-charset="utf-8">  
  <input type="radio" name="poll_option" value="NORMAL" id="poll_option" /><label for='1'>&nbsp;NORMAL</label><br />
  <input type="radio" name="poll_option" value="ESPECIAL" id="poll_option" /><label for='2'>&nbsp;ESPECIAL</label><br />
  <input type="submit" value="Emitir Ticket &rarr;" id="submit_vaga" class="poll_btn"/> 
</form>

{% endblock %}

