{% extends 'base.html' %}
{% block content %}
{{ tipo }}

<form action="/pagamento">
    Informe o numero do ticket:<br>
<input type="text" name="IDTICKET">
<br><br>
<input type="submit" value="Enviar">
</form> 

{% for item in vaga %}
<div class="ticket" id="ticket">
<ul style="padding-top: 10px;">
  <li>Vaga ID: {{ item.IDVAGA }}</li>
  <li>Vaga Distancia: {{ item.DISTANCIA }}</li>
  <li>Vaga Tipo: {{ item.TIPO }}</li>
  <li>Vaga Situação: {{ item.SITUACAO }}</li>
</ul>
</div>        
{% endfor %}

{% endblock %}