{% extends 'base.html' %}
{% block content %}
{% for item in vaga %}
<div class="ticket" id="ticket">
<ul style="padding-top: 10px;">
  <li>Vaga ID: {{ item.IDVAGA }}</li>
  <li>Vaga Distancia: {{ item.DISTANCIA }}</li>
  <li>Vaga Tipo: {{ item.TIPO }}</li>
  <li>Vaga Situação: {{ item.SITUACAO }}</li>
</ul>
</div>        
{% endfor %}

<div class="btn-group" role="group" aria-label="Basic example">
    <form action="/entrada" method="POST" form name="poll_form" accept-charset="utf-8">  
        <input type="submit" value="Entrada" name="entrada" class="poll_btn"/> 
    </form>

    <form action="/pagamento" method="POST" form name="poll_form" accept-charset="utf-8">  
      <input type="submit" value="Pagamento" name="pagamento" class="poll_btn"/> 
    </form>

    <form action="/saida" method="POST" form name="poll_form" accept-charset="utf-8">  
      <input type="submit" value="Saida" name="saida" class="poll_btn"/> 
    </form>

</div>

{% endblock %}